---

- name: Setup Desktop Workspace
  connection: local
  hosts: localhost
  tasks:
  - name: Get Fedora version via RPM
    ansible.builtin.shell: rpm -E %fedora
    register: rpm_fedora_version
    changed_when: false
  - name: Access the saved variable
    ansible.builtin.debug:
      msg: "The captured version is {{ rpm_fedora_version.stdout }}"
  - name: Getting Distribution Keys 
    ansible.builtin.dnf:
      name: 
        - distribution-gpg-keys
      state: present
    become: true
  - name: Importing RPM Fusion (free) key
    become: yes
    ansible.builtin.rpm_key:
      state: present
      key: "/usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-fedora-{{ rpm_fedora_version.stdout }}"
  - name: Importing RPM Fusion (nonfree) key
    become: yes
    ansible.builtin.rpm_key:
      state: present
      key: "/usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-nonfree-fedora-{{ rpm_fedora_version.stdout }}"
  - name: Enable RPM Fusion Free repository 
    ansible.builtin.dnf:
      name: 
        - "https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ rpm_fedora_version.stdout }}.noarch.rpm"
        - "https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ rpm_fedora_version.stdout }}.noarch.rpm"
      state: present
    become: true
  - name: Install ffmpeg
    ansible.builtin.dnf:
      name: 
        -  ffmpeg
      state: present
      allowerasing: true
    become: true
  - name: Remove ffmpeg-free
    ansible.builtin.dnf:
      name: 
        -  ffmpeg-free
      state: absent
    become: true
  - name: Update Multimedia group without weak dependencies
    ansible.builtin.dnf:
      name: "@multimedia"
      state: latest
      install_weak_deps: no
      exclude:
        - PackageKit-gstreamer-plugin
  - name: Remove mesa-va-drivers (non freeworld)
    ansible.builtin.dnf:
      name: 
        - mesa-va-drivers.x86_64
        - mesa-va-drivers.i686
        - mesa-vulkan-drivers.x86_64
        - mesa-vulkan-drivers.i686
      state: absent
    become: true
  - name: Install mesa-va-drivers-freeworld 
    ansible.builtin.dnf:
      name: 
        - mesa-va-drivers-freeworld.x86_64
        - mesa-va-drivers-freeworld.i686 
        - mesa-vulkan-drivers-freeworld.x86_64
        - mesa-vulkan-drivers-freeworld.i686
      state: present
      allowerasing: true
    become: true
